<div class="container">
  <h1>Contact</h1>

  <ul class="social-media">
    <li><a href="https://www.linkedin.com/in/aravindhan-b-741261218/" style="color: #69f0ae;"><i
          class='bx bxl-linkedin'></i></a></li>
    <li><a href="https://www.instagram.com/aravindhbala8/" style="color: #69f0ae;"><i class='bx bxl-instagram'></i></a>
    </li>
  </ul>

  <ul class="contact-info">
    <li><i class='bx bx-mobile' style="color: #69f0ae;"></i> 8838746756</li>
    <li><i class='bx bxl-gmail' style="color: #69f0ae;"></i> aravindhbala222@gmail.com</li>
  </ul>
</div>
